body {
    background-color: rgb(57, 68, 77);
    text-align: center;
    color: white;
    font-family 
    list-style-type: none;
}

h1 {
    color: thistle;
}

a:link,
a:visited {
    color: white;
    font-size: 25px;
}

a:hover {
    color: thistle;
}

li {
    list-style-type: none;
    margin: 30px 0px;
}


    